.folder {
  width: 280px;
  height: 45px;
  margin: 10px 0 10px;
  padding: 0px 15px 0px;
  border-radius: 25px;
  border: 4px solid var(--primary);
  transition: 0.5s;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.folder:hover {
  width: 320px;
  cursor: pointer;
}
