.folder {
  width: 280px;
  height: 45px;
  margin: 10px 0 10px;
  padding: 0px 15px 0px;
  border-radius: 20px;

  transition: 0.5s;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

line {
  transition: 0.25s !important;
  opacity: 1;
  stroke: black;
  stroke-width: 3;
}

line.hidden {
  opacity: 0;
}


.folder.open {
  width: 320px;
}


@media screen and (max-width: 800px) {
  .folder {
    width: 230px;
  }

  .folder.open {
    width: 270px;
  }
}

@media screen and (min-width: 800px) {
  .folder:hover {
    cursor: pointer;
    width: 320px;
  }
}